{% extends "@@theme@@/base.html" %}
{% block title %}Balmumcu Kimya{% endblock %}
{% block content %}



{% for section in builder.sections %}
  {% if section.active %}
    <section class="homepage-section section-{{ section.template }}" data-section-id="{{ section.id }}">

      {% if section.template == "product_grid.html" %}
        {% include "@@theme@@/home/sections/product_grid.html" %}
      {% elif section.template == "video_hero.html" %}
        {% include "@@theme@@/home/sections/video_hero.html" %}
      {% elif section.template == "blog_list.html" %}
        {% include "@@theme@@/home/sections/blog_list.html" %}
      {% elif section.template == "son_haberler.html" %}
        {% include "@@theme@@/home/sections/news_list.html" %}
      {% elif section.template == "category_grid.html" %}
        {% include "@@theme@@/home/sections/category_grid.html" %}
      {% elif section.template == "category_tab_menu.html" %}
        {% include "@@theme@@/home/sections/category_tab_menu.html" %}
      {% elif section.template == "category_icons.html" %}
        {% include "@@theme@@/home/sections/category_icons.html" %}

      {% elif section.template == "category_cover.html" %}
        {% include "@@theme@@/home/sections/category_cover.html" %}

      {% elif section.template == "tanitim_cover.html" %}
        {% include "@@theme@@/home/sections/tanitim_cover.html" %}
      {% elif section.template == "tek_urun_slide.html" %}
        {% include "@@theme@@/home/sections/tek_urun_slide.html" %}
      {% elif section.template == "hero_banner.html" %}
        {% include "@@theme@@/home/sections/hero_banner.html" %}
      {% elif section.template == "image_slider.html" %}
        {% include "@@theme@@/home/sections/image_slider.html" %}
      {% elif section.template == "image_slider_fluid.html" %}
        {% include "@@theme@@/home/sections/image_slider_fluid.html" %}
      {% elif section.template == "image_slider_container.html" %}
        {% include "@@theme@@/home/sections/image_slider_container.html" %}
      {% elif section.template == "light_banner.html" %}
        {% include "@@theme@@/home/sections/light_banner.html" %}
      {% else %}
        <!-- Unknown template: {{ section.template }} -->
        {% include "@@theme@@/home/sections/default.html" %}
      {% endif %}
    </section>
  {% endif %}
{% endfor %}




{% endblock %}
