.env
*.log
.DS_Store
target/
.idea/
.vscode/
*.iml
backend-rs
/media/
/media_orig/
/media_balmumcu/
/media_klima/
/media_sgm/
/media_baston/
updates/
*.zip
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
node_modules/
dist/
build/
release.sh
backend-rs_fat
backend-rs_thin
backend-rs
config.toml
config.yaml
config.json
sigma_success.log
sigma_failed.log
sigma_product_images/
product_variants.json
product_variants_kimi.json
backend-rs.exe
SGM/
/ride_rs/
