    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% if global.vocabularies.15 %}
                <h5 class="fw-bold mb-3">
                    <i class="bi bi-code-slash me-2"></i>{{ global.vocabularies.15.data.langs[current_language].title }}
                </h5>


                    <ul class="list-unstyled">
                        {% for content in global.vocabularies.15.terms %}
                            {% set lang_data = content.data.langs[current_language] %}
                            <li class="mb-1">
                                <a href="{{ lang_data.menu_url }}" class="text-body-secondary text-decoration-none small">
                                    <i class="bi bi-arrow-right me-1"></i>{{ lang_data.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}


            </div>

            <div class="col-md-4 mb-4 mb-md-0">
                <h5 class="fw-bold mb-3">
                    <i class="bi bi-link-45deg me-2"></i>{{ t(key="hizli_baglantilar",  default="Hızlı Bağlantılar", lang=current_language) }}
                </h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="/{{ current_language }}" class="text-body-secondary text-decoration-none">
                            <i class="bi bi-house-door me-2"></i>{{ t(key="footer_ana_sayfa",  default="Ana Sayfa", lang=current_language) }}
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Contact informations (address, phone, email) -->
             <div class="col-md-4 mb-4 mb-md-0">
                <h5 class="fw-bold mb-3">
                    <i class="bi bi-link-45deg me-2"></i>{{ t(key="iletisim",  default="İletişim", lang=current_language) }}
                </h5>
                <!-- [{{settings.contact_address}}] -->
                <!-- [{{settings.contact_email}}] -->
                <!-- [{{settings.contact_phone}}] -->

                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="{{ settings.contact_address }}" class="text-body-secondary text-decoration-none">
                            <i class="bi bi-house-door me-2"></i>{{ settings.contact_address }}
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="mailto:{{ settings.contact_email }}" class="text-body-secondary text-decoration-none">
                            <i class="bi bi-envelope me-2"></i>{{ settings.contact_email }}
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="tel:{{ settings.contact_phone }}" class="text-body-secondary text-decoration-none">
                            <i class="bi bi-telephone me-2"></i>{{ settings.contact_phone }}
                        </a>
                    </li>
                </ul>
            </div>

            
        </div>

        <hr class="border-secondary my-4">

        <div class="row">
            <div class="col-12 text-center">
                <p class="text-body-secondary mb-0">
                    {{settings.site_name_langs.langs[current_language].title}}
                    {{ t(key="footer_text",  default="2026 Tüm hakları saklıdır.", lang=current_language) }}
                </p>
            </div>
        </div>
    </div>
